.container
{
  position: absolute;
  top: 60px;
  bottom: 60px;
  left: 0;
  right: 0;
}

.sidenav
{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  background: #3f51b5;
}

.sidenav a
{
    color: #FFF;
}

.sidenav i
{
    padding-right: 10px;
}

.content
{
  padding: 16px;
  background-color: #FFF;
}

.divisoria
{
  border-top-color: #e6ceff;
}