<section class="container flex">
    
    <mat-card class="item">
        <mat-card-header>
          <mat-card-title>10 </mat-card-title>
        </mat-card-header>
        
        <mat-card-content>
          <p>
            Total Relógios
          </p>
        </mat-card-content>
    </mat-card>

    <mat-card class="item">
        <mat-card-header>
          <mat-card-title>10 </mat-card-title>
        </mat-card-header>
        
        <mat-card-content>
          <p>
            Total Relógios
          </p>
        </mat-card-content>
    </mat-card>

    <mat-card class="item">
        <mat-card-header>
          <mat-card-title>10 </mat-card-title>
        </mat-card-header>
        
        <mat-card-content>
          <p>
            Total Relógios
          </p>
        </mat-card-content>
    </mat-card>
    
    <mat-card class="item">
        <mat-card-header>
          <mat-card-title>10 </mat-card-title>
        </mat-card-header>
        
        <mat-card-content>
          <p>
            Total Relógios
          </p>
        </mat-card-content>
      </mat-card>

</section>