<mat-card>
    <mat-card-title>Deletar Relógio</mat-card-title>
    <form>
      <mat-form-field>
        <input matInput placeholder="Marca" [(ngModel)]="relogio.marca" name="marca" disabled/>
      </mat-form-field>
  
      <mat-form-field class="exemple-full-width">
        <mat-select [(ngModel)]="relogio.status" placeholder="Status" name="status" disabled>
          <mat-option value="ATIVO">ATIVO</mat-option>
          <mat-option value="PENDENTE">PENDENTE</mat-option>
          <mat-option value="DEFEITO">DEFEITO</mat-option>
          <mat-option value="BLOQUEADO">BLOQUEADO</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Data Cadastro" [(ngModel)]="relogio.dataCadastro" name="dataCadastro" disabled/>
      </mat-form-field>
      
      <mat-form-field>
        <input matInput placeholder="Tempo Cadastrado" [(ngModel)]="relogio.tempoCadastrado" name="tempoCadastrado" disabled/>
      </mat-form-field>
  
    </form>
  
    <button mat-raised-button color="warn" (click)="cancelar()">Cancelar</button>
    <button mat-raised-button color="primary" (click)="deletar()">Deletar</button>
  
  </mat-card>